
/*  font-family: Amantic_SC  */
@font-face {
    font-family: Amatic_SC;
    src: url('../fonts/Amantic_CS/Amantic-Regular.ttf');
}

/*  font-family: Indie_Flower */
@font-face {
    font-family: Indie_Flower;
    src: url('../fonts/Indie_Flower/Indie_Flower-Regular.ttf');
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend/Lexend-light.ttf');
}

/*  font-family: Poppins  */
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

/*  font-family: Quicksand */
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}