*
{
    padding: 0;
    margin:0
}
#header

{
    background-image: url(../images/home/background.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.navbar
{
    background-color: #0B0C10;
    color: #66FCF1
}

.navbar-toggler
{
    boarder: none;
    outline: none;

}

.subscribe
{
    padding: 50px 100px;
    margin-top: -160px;
    background-color: #ffff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.subscribe h1
{
    color: #0000FF
}

.subscribe .subscribe-btn
{
    margin-top: 10px;
    padding: 10px 30px;
    color: #fff;
    background color: #013f7e;
}

.top-post
{
    padding: 10px;
}

.top-post-content
{
    padding: 10px;

}

.news-post
{
    padding: 10px;
}

.news-post-content
{
    padding:10px;
}