{% extends "base.html" %}
{% block banner_title %}About us{% endblock %}

{% block header %}<h2 class="page-heading">{% block title %}About us!{% endblock %}</h2>
{% endblock %}

{% block content %}
<div id="post-container">
    <section id="blogpost">
        <div class="card">
            <div class="card-image">
                <img src="static/assets/and_breathebg.jpg" alt="Card Image">
            </div>
            <div class="card-description">
                <h3>Who we are?</h3>
                <p>During the global pandemic we literally found ourselves in a time to survive. And after
                    months of doing just that, as the world now begins to find its feet again, lets refocus
                    to not just survive, but thrive.</p>
                <p>This blog aims to help you do just that, to navigate these new waters, to take what we
                    have learnt from our experiences and to build anew.  </p>
                <p></p>
            </div>
        </div>

    </section>

    <div class="icon-bar">
  <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://www.twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://www.google.co.uk/" class="google"><i class="fa fa-google"></i></a>
  <a href="https://gb.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
</div>

<h2 class="section-heading">Our Git hub Project</h2>

        <section id="section-about">
            <p>
              The Fantastic Four have been on the Sky Get Into Tech course since January. They have
                been working collectively on this website. Click the link below to see the Git Hub
                repository.
            </p>
            <a href="https://github.com/soutem-debug/Lifestyle_Thrive"
               class="btn-readmore">Check me out</a>
        </section>
{% endblock %}
