{% extends "base.html" %}
{% block banner_title %}Add a new blog{% endblock %}
{% block header %}<h2 class="section-heading">{% block title %}Add Blog{% endblock %}</h2>
{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
      {{form.csrf_token}}
      <p>
          <label for="title">Page Title</label>
          {{form.title(class="form-control", placeholder="Set a title", type="email", id="title")}}
      <span style="color:red;">
      </span>
      </p>
       <p>
                 <label for="page-content">Page Content</label>

          {{form.content(class="form-control", placeholder="Page content here", id="post-content")}}
      <span style="color:red;">
      </span>
      </p>
      <p>
          <button type="submit" class="btn-readmore">Submit</button>
      </p>
</form>
{% endblock %}