{% extends "base.html" %}
{% block banner_title %}Add a new blog{% endblock %}
{% block header %}<h2 class="section-heading">{% block title %}New Blog{% endblock %}</h2>
{% endblock %}

{% block content %}

<form action="#" method="post" novalidate>
   <div class="form-group">
       <label for="title">Blog Title:</label>
       <input type="text" maxlength="1000" name="title" placeholder="Blog Title">
   </div>
    <div class="form-group">
       <label for="page-content">Page Content:</label>
       <input maxlength="100" name="page-content" placeholder="Blog content">

       <button type="submit" class="btn-readmore">Create</button>
   </div>
</form>

<form action="#" method="post">
{% endblock %}