<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/index12.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/comments.css')}}">
    <title> Fantastic Four</title>
</head>


<!-------------------------------Navigation Bar ----------------------------------------------->
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home">Fantastic Four</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/add_blog">Add Blog</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/subscribe">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!----------------------x------------------- Navigation bar --------------x-----------------    -->

<!------------------------------------------- Banner --------------------------------------->
     {% block banner %}
    <div style="background-image: url(static/assets/b_option2new.jpg">
    <div id="banner">
        <h4>{% block banner_title %}{% endblock %}</h4>
<!--        <p>Lifestyle</p>-->
    </div>
     </div>
        {% endblock %}
<!------------------------x------------- Banner -----------------------x---------------------    -->
 <!----------------------------------------- Flash Messages ---------------------------------    -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert-danger alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
            <div class="alert-success alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

<!------------------------x------------- Flash Messages ----------------x-------------    -->

    <main>
<!--------------------------------------- Page ------------------------------------------>
        {% block header %}
                {% block title %}{% endblock %}
            {% endblock %}

        {% block content %}{% endblock %}
<!-------------------------x---------------- Page --------------------------------------->
    </main>
        <!--------------------------------------- Git hub link ------------------------------------------>


<!------------------xx--------------------- Git hub link ---------------------------xx--------------->

<!--------------------------------------- Footer ------------------------------------------>
       <footer>
            <div id="left-footer">
                <h3>Quick Links</h3>
                <p>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
            </div>

            <div id="right-footer">
                <h3>Follow us on</h3>
                <div id="social-media-footer">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>&COPY The Fantastic Four</p>
            </div>
        </footer>


    <!---------------------xx------------------ Footer ------------------xx------------------------>

    <!--------------------------------------- any Java script links go here ------------------------------------------>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
<!--<script src="{{ url_for('static', filename='js/aos.js')}}"></script>-->
<!--<script src="{{ url_for('static', filename='js/dead.js')}}"></script>-->
<!--<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>-->
<!--<script src="{{ url_for('static', filename='js/Jquery3.4.1.min.js')}}"></script>-->
</body>

</html>