<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/index12.css')}}" type="text/css">
    <title> Fantastic Four</title>
</head>


<!-------------------------------Navigation Bar ----------------------------------------------->
<body>
    <div id="slideout-menu">
        <ul>
            <li>
                <a href="/">The Fantastic Four</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/add_blog">Add Blog</a>
            </li>
            <li>
                <a href="/subscribe">Subscribe</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
             <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>

    <nav>
        <div id="menu-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <ul>
            <li>
                <a href="/">The Fantastic Four</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/add_blog">Add Blog</a>
            </li>
            <li>
                <a href="/subscribe">Subscribe</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
             <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>

<!----------------------x------------------- Navigation bar --------------x-----------------    -->

<!------------------------------------------- Banner --------------------------------------->
     {% block banner %}
    <div style="background-image: url(static/assets/birds.jpg">
    <div id="banner">
        <h4>{% block banner_title %}{% endblock %}</h4>
<!--        <p>Lifestyle</p>-->
    </div>
     </div>
        {% endblock %}
<!------------------------x------------- Banner -----------------------x---------------------    -->
 <!----------------------------------------- Flash Messages ---------------------------------    -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert-danger alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
            <div class="alert-success alter-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

<!------------------------x------------- Flash Messages ----------------x-------------    -->

    <main>
<!--------------------------------------- Page ------------------------------------------>
        {% block header %}
                {% block title %}{% endblock %}
            {% endblock %}

        {% block content %}{% endblock %}
<!-------------------------x---------------- Page --------------------------------------->
    </main>
        <!--------------------------------------- Git hub link ------------------------------------------>


<!------------------xx--------------------- Git hub link ---------------------------xx--------------->

<!--------------------------------------- Footer ------------------------------------------>
       <footer>
            <div id="left-footer">
                <h3>Quick Links</h3>
                <p>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/subscribe">Subscribe</a>
                        </li>
                        <li>
                            <a href="/home">Blogs</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
            </div>

            <div id="right-footer">
                <h3>Follow us on</h3>
                <div id="social-media-footer">
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>&COPY The Fantastic Four</p>
            </div>
        </footer>


    <!---------------------xx------------------ Footer ------------------xx------------------------>

    <!--------------------------------------- any Java script links go here ------------------------------------------>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>