{% extends "base.html" %}

{% block header %}<h2 class="section-heading">{% block title %}Wild Swimming in Yorkshire!{% endblock %}</h2>
{% endblock %}

{% block content %}

<body>
<form action="{{ url_for('editBlog',post_id = blog.post_id)}}" method="post">
    <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" class="form-control" name="name" value="{{blog.title }}">
        <button type="submit"> SAVE</button>
        <a href={{url_for('blog_index')}}">
            <button>Cancel</button>
        </a>
    </div>
</form>
</body>