<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home_stylesheet.css">
</head>

<!--HEADER SECTION - NAV BAR-->
<body>
<section id="header">
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Lifestyle PI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('pages.about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('pages.raj')}}">Wellness</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('pages.em')}}">Fitness & Recreation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('pages.saf')}}">Fashion & Dating</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('pages.sonia')}}">Food</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More...
                    </a>
<!--                    dropdown bar?-->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Write a blog</a></li>
                        <li><a class="dropdown-item" href="{{url_for('pages.subscribe')}}">Subscribe</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{url_for('pages.contact')}}">Contact</a></li>
                    </ul>
                </li>

            </ul>
                    <div class="search-container">
<!--                        action = # is where the link the python file in -->
                        <form action="#">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                     </div>

        </div>


    </div>
</nav>
    </section>

<!--Top news section-->

    <!--Link to the section name for css-->
<section id="subscribe">
    <div class="container">
        <div class="subscribe text-center">
            <h1>Subscribe to our blog</h1>
            <p>Find out more by subscribing</p>
            <button type="subscribe" class="btn home-btn">Subscribe</button>


        </div>


    </div>


</section>
    <section class="top-post py-4">
        <div class="container">
            <div class="row">
<!--                The class row divides the available space on the page -->
                <div class="col-lg-8 text-justify">
                    <div class="top-post shadow">
                        <img class="img-fluid" alt="" src="images/home/and_breathebg.jpg">
                        <div class="top-post-badges">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <a href="#">Wellness</a>
                            <a href="#">10th April 2021</a>

                        </div>
<!--                        From font awesome icons page-->
                        <div class="top-post-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <img alt="Blogger" class="img-fluid rounded-circle" src="images/home/person3.jpg">

                                </div>
                                <div class="col-md-9">
                                    <h4>Life after lockdown</h4>
                                    <p class="m-2">The Life After Lockdown Project is designed to create a national Web Gallery
                                        of work created by young people in these unprecedented times. It will provide
                                        a place to exhibit their work, unlocking the voice of our creative future;
                                        artists, photographers, filmmakers, software developers, ceramicists,
                                        weavers and designers.</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-justify">
                    <div class="news-post shadow">
                        <img class="img-fluid" alt="" src="images/home/newsbg.jpg">
                        <div class="news-post-icons">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <a href="#">Whats happening?</a>
                            <a href="#">13th April 2021</a>
<!--                            # = insert url you want it to go to-->
                        </div>
<!--                        adding in icons for main page using font awesome-->
                        <div class="news-post-content">
                            <div class="row">

                                <div class="col-md-8">
                                    <h5>NEWS</h5>
                                    <p class="m-0"> Because nothing matters anymore: The price of Dogecoin (the cryptocurrency
                                        that started out as a joke) has tripled in the past week and has a market
                                        cap of $20B+.</p>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="boss-post shadow py-4">
                <div class="col-md-4">
                        <img class="img-fluid" alt="" src="images/home/cairns.jpg">
                        <div class="boss-post-icons">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <a href="#">Learn more</a>
                            <a href="#">17th April 2021</a>

                        </div>
<!--                        adding in icons for main page using font awesome-->
                        <div class="boss-post-content">
                            <div class="container">
                            <div class="row">

                                <div class="col-md-8">
                                    <h3>Who we are?</h3>
                                    <p class="m-0">WHO began when our Constitution came into force on 7 April 1948
                                        – a date we now celebrate every year as World Health Day. We are now more
                                        than 7000 people from more than 150 countries working in 150 country offices,
                                        in 6 regional offices and at our headquarters in Geneva.
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="blog-posts shadow">
        <div class="container">
             <div class="row">

            <div class="col-md-12">
                <article class="blog-post mb-6">
                    <div class="col-sm-3">
                        <img alt="" class="img fluid" src="img/img3.jpg" height="500" width="742">

                    </div>
                    <div class="col-sm-12">
                        <h3>Wild swimming</h3>
<!--                        short description of article-->
                        <p>A passage in text that starts on a new line, the first line sometimes being indented, and usually marks a change of topic.
                            (originally) A mark or note set in the margin to call attention to something in the text, such as a change of subject.
                            ( computing) An offset of 16 bytes in Intel memory architectures.</p>
                        <div class="badge">
<!--                            Link to the category of webpage - empty for now #-->
                            <a href="#">Outdoors</a>
                            <a href="#">Sports</a>
                            <a href="#">Mental well-being</a>


                        </div>
                    </div>
                </article>

            </div>

                 <div class="col-md-12">
                 <article class="blog-post mb-6">
                    <div class="col-sm-4">
                        <img alt="" class="img fluid" src="images/home/person1.jpg" height="500" width="742">

                    </div>
                    <div class="col-sm-8">
                        <h3>Dating during lockdown</h3>
<!--                        short article-->
                        <p class="m-0">A passage in text that starts on a new line, the first line sometimes being indented, and usually marks a change of topic.
                            (originally) A mark or note set in the margin to call attention to something in the text, such as a change of subject.
                            ( computing) An offset of 16 bytes in Intel memory architectures.</p>
                        <div class="badge">
<!--                            Link to the category of webpage - empty for now #-->
                            <a href="#">Outdoors</a>
                            <a href="#">Sports</a>
                            <a href="#">Mental well-being</a>


                        </div>
                    </div>
                </article>
                 </div>


<



             </div>
        </div>




    </section>
<!--Footer section -->
<div class="footer">
  <h4>Lifestyle PI(don't know whether to keep)</h4>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted text-center">
            Copyright &copy; 'Lifestyle PI' 2021
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>


</body>
</html>ml>