{% extends "base.html" %}

{% block header %}<h2 class="section-heading">{% block title %}All Blogs{% endblock %}</h2>
{% endblock %}

{% block content %}
<!--------------------------------------- All Blogs link ------------------------------------------>
<!--    <main>-->
<!--        <a href="/projects">-->
<!--            <h2 class="section-heading">All Blogs</h2>-->
<!--        </a>-->

<!-------------------------x---------------- All blogs link --------------------------------------->

        <!--------------------------------------- Blogs section ------------------------------------------>
       <section>
            <div class="card">
                <div class="card-image">
                    <a href="/projects">
                        <img src="static/assets/dales.jpg" alt="wildSwimming">
                    </a>
                </div>

                <div class="card-description">
                    <a href="/post">
                        <h3>Wild Swimming spots in Yorkshire</h3>
                    </a>
                    <p>Are you one of the people that has discovered the amazing health and mental
                        well-being wild swimming offers? If not push the link below to find out
                        the best spots in Yorkshire.</p>
                    <a href="/post" class="btn-readmore">Read more</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="img/2.jpg" alt="Card Image">
                    </a>
                </div>

                <div class="card-description">
                    <a href="/post">
                        <h3>The Blog Title Here</h3>
                    </a>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
                        cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
                    </p>
                    <a href="blogpost.html" class="btn-readmore">Read more</a>
                </div>
            </div>
        </section>

        <!--------------------------------------- All Projects link ------------------------------------------>
        <a href="blogslist.html">
        	<h2 class="section-heading">All Projects</h2>
    	</a>


        <!-----------------------x---------------- All Projects link --------------------------x---------------->

        <section>
            <div class="card">
                <div class="card-image">
                    <a href="blogpost.html">
                        <img src="img/3.jpg" alt="Card Image">
                    </a>
                </div>

                <div class="card-description">
                    <a href="blogpost.html">
                        <h3>The Project Title Here</h3>
                    </a>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
                        cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
                    </p>
                    <a href="blogpost.html" class="btn-readmore">Read more</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <a href="blogpost.html">
                        <img src="img/4.jpg" alt="Card Image">
                    </a>
                </div>

                <div class="card-description">
                    <a href="blogpost.html">
                        <h3>The Project Title Here</h3>
                    </a>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ullam facilis consequuntur eligendi sit accusamus tempora
                        cum distinctio pariatur ipsa quod, odit dolorum non vero recusandae? Corporis voluptatem optio nulla.
                    </p>
                    <a href="blogpost.html" class="btn-readmore">Read more</a>
                </div>
            </div>
        </section>

<!-----------------------xx--------------- All Projects link ---------------------xx--------------------->

{% endblock %}
