{% extends "base.html" %}

{% block header %}<h2 class="page-heading">{% block title %}Login!{% endblock %}</h2>
{% endblock %}

{% block content %}

<form action="" method="post" novalidate>
      <h3 align="center">Login</h3>
<!--      {{form.csrf_token}}-->
      <p>
          <label for="email">Email Address</label>
          {{form.email(class="form-control", placeholder="Enter email", type="email", id="email")}}
          {% for error in form.email.errors %}
      <span style="color:red;">
          {{error}}
      </span>
          {% endfor %}
      </p>
       <p>
                 <label for="password">Password</label>

          {{form.password(class="form-control", placeholder="Enter password", type="password", id="password")}}
          {% for error in form.password.errors %}
      <span style="color:red;">
          {{error}}
      </span>
          {% endfor %}
      </p>
      <p>
        <input type="submit" value="Login" class="btn btn-primary">
      </p>
</form>

{% endblock %}